//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 03 14 17:11:20 2025

IO_LOC "TMDS_DATA2" 75;
IO_PORT "TMDS_DATA2" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_DATA1" 73;
IO_PORT "TMDS_DATA1" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_DATA0" 71;
IO_PORT "TMDS_DATA0" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_CLOCK" 69;
IO_PORT "TMDS_CLOCK" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "o_gpout[7]" 25;
IO_PORT "o_gpout[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_gpout[6]" 38;
IO_PORT "o_gpout[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_gpout[5]" 16;
IO_PORT "o_gpout[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_gpout[4]" 15;
IO_PORT "o_gpout[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_gpout[3]" 14;
IO_PORT "o_gpout[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_gpout[2]" 13;
IO_PORT "o_gpout[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_gpout[1]" 11;
IO_PORT "o_gpout[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_gpout[0]" 10;
IO_PORT "o_gpout[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_tx[0]" 17;
IO_PORT "o_tx[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i_rx[0]" 18;
IO_PORT "i_rx[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_rst" 3;
IO_PORT "i_rst" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "i_clk_27MHz" 52;
IO_PORT "i_clk_27MHz" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
